:root {
  --bg: #f7f7f7;
  --headers: #373737;
  --subHeaders: #414141;
  --text: #555555;
}

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}


/* .wrapper {
  max-width: 1440px;
  margin: auto;
} */

.container_main {
  max-width: 1440px;
  padding: 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: var(--bg);
  font-size: 1.2rem;
}

.nav-bar {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  text-align: left;
  background-color: #98CA8D;
}

.menus {
  padding-top: 2rem;
  padding-left: 2rem;
  color: var(--subHeaders);
  position: fixed;
  height: 100vh;
}

.menus p {
  padding: 1rem;
  font-weight: bold;
}

.social-media {
  position: fixed;
  bottom: 0;
}

.content {
  width: 85%;
  padding: 0 3rem;
}

#user-name {
  margin-top: 3rem;
  font-size: 4rem;
  color: var(--headers);
}

#user-position {
  font-size: 2rem;
  color: var(--subHeaders);
}

#user-intro {
  margin-top: 4rem;

  color: var(--text);
  line-height: 3rem;
}

#download-cv {
  color: var(--text);
  font-weight: bold;
}

.Skills {
  margin-top: 6rem;
}

#skills-header {
  color: var(--headers);
  font-size: 2rem;
}

.skills-subheader {
  color: var(--subHeaders);
}

.skills-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  color: var(--text);
  margin-bottom: 4rem;
}

.skills-icons {
  width: 6rem;
  height: 6rem;
  border-radius: 5px 5px 0 0;
}

.skills-text {
}

.skills-card {
  padding: 2rem;
  margin: 0.5rem 2rem 0.5rem 0;
  max-width: 10rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 992px) {
  .nav-bar {
    display: none;
  }
  .content {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1200px) {
  .menus {
    padding-top: 2rem;
    padding-left: 2rem;
    font-size: 1rem;
    color: var(--subHeaders);
    position: fixed;
    height: 100vh;
  }
  .menus p {
    padding: 1rem;
    font-weight: bold;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* .container_main{
        align-items: center;
        flex-direction: column;
    } */
}
